version: '3'

services:
  laravel_app:
    container_name: laravel_app
    image: farasatkhan/roadrunner-ecommerce-store-laravel:latest
    ports:
      - 9000:80
    networks:
      - my-network
  
  mysql_db:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: roadrunner_db
    volumes:
      - ./roadrunner_db.sql:/docker-entrypoint-initdb.d/roadrunner.sql
      - mysql_data:/var/lib/mysql
    ports:
    - 3306:3306
    networks:
      - my-network
  
  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - 9002:80
    environment:
      PMA_HOST: mysql_db
    depends_on:
      - mysql_db
    links:
      - mysql_db
    networks:
      - my-network

volumes:
  mysql_data:

networks:
  my-network: